<section class="join-error p-b-160 p-t-160 text-center">
  <h3>Invalid input format</h3>
  <p>
    Parsing of given URL failed with: <code><%= error.message %></code></br>
    This might be a phishing attack or simply a malformed ENS name.
  </p>
</section>
