<!DOCTYPE html>
<section class="py-24 xl:py-40">
  <div class="max-w-6xl mx-auto px-2 lg:px-4 align-center">
    <h3 id="header" class="py-8 break-word text-center font-display font-bold text-2xl">Invalid input format</h3>
    <p class="text-center">Parsing of given URL failed with: <code id="error" class="font-bold"><%= error.message %></code></p>
    </br>
    <p if="info" class="text-lg text-center">This might be a phishing attack or simply a malformed ENS name.</p>
  </div>
</section>
