<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta property="al:ios:url" content="app://get.status.im<%= path %>" />
    <meta property="al:ios:app_store_id" content="1178893006" />
    <meta property="al:ios:app_name" content="Status — Ethereum. Anywhere" />

    <meta property="al:android:url" content="app://get.status.im<%= path %>" />
    <meta property="al:android:package" content="im.status.ethereum" />
    <meta property="al:android:app_name" content="Status — Ethereum. Anywhere" />


    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a id='app-store-link' href='#'>Don't have status yet, try it</a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/javascripts/app.js'></script>
  </body>
</html>
