<!DOCTYPE html>
<section class="py-24 xl:py-40">
  <div class="max-w-xl mx-auto px-8 lg:px-12 align-center">
    <h3 id="header" class="break-word text-center font-display text-4xl p-4">
      Upper case link detected
    </h3>
    <div class="text-center py-4">
      Would you like to be redirected?
    </div>
    <div class="copy border border-solid border-gray-100 rounded-sm p-6 flex items-center justify-between my-4">
      <div class="inner" id="copy-target"><%= redirect.name %></div>
      <a href="#" data-clipboard-target="#copy-target" class="text-primary-base font-bold hover:text-primary-700">Copy</a>
    </div>
    <a href="<%= redirect.path %>" id="redirect" class="font-special font-semibold text-center transition-all duration-200 ease-linear text-white bg-primary-base hover:bg-primary-700 py-5 px-8 block w-full rounded">Redirect Me</a>
    <div id="info" class="pt-4 text-lg text-gray-500 mt-4 text-center">
      Beware of phishing attacks.
    </div>
  </div>
</section>
