<section class="join-content p-b-160 p-t-160 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 id="header" class="break-word">Upper case link detected</h3>
        <p>Would you like to be redirected?</p>
        <div class="copy">
          <div class="inner" id="copy-target"><%= redirect.name %></div>
          <a href="#" data-clipboard-target="#copy-target">Copy</a>
        </div>
        <a href="<%= redirect.path %>" id="redirect" class="btn btn-purple-fill">Redirect Me</a>
        <div class="info">Beware of phishing attacks.</div>
      </div>
    </div>
  </div>
</section>
