.join-content .btn{
  margin-top: 15px;
  width: 100%;
  max-width: 280px;
  border-radius: 4px;
}

.info{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #939BA1;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info span{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
  margin: 0 2px 0 4px;
}

img.qr-code{
  border: 1px solid #EEF2F5;
  border-radius: 3px;
  width: 100%;
  max-width: 280px;
  margin-bottom: 15px;
  height: 280px;
}

.copy{
  display: flex;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  border: 1px solid #EEF2F5;
  border-radius: 3px;
  padding: 10px 16px;
} 

.copy a{
  margin-left: auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}

.copy .inner{
  font-size: 15px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.break-word{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
  margin: 0 auto 20px;
  font-size: 24px;
}
