@font-face {
  font-family: PostGrotesk-Medium;
  src: url(../fonts/PostGrotesk-Medium.eot);
  src: url(../fonts/PostGrotesk-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/PostGrotesk-Medium.woff) format("woff"), url(../fonts/PostGrotesk-Medium.svg#PostGrotesk-Medium) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: PostGrotesk-Book;
  src: url(../fonts/PostGrotesk-Book.eot);
  src: url(../fonts/PostGrotesk-Book.eot?#iefix) format("embedded-opentype"), url(../fonts/PostGrotesk-Book.woff) format("woff"), url(../fonts/PostGrotesk-Book.svg#PostGrotesk-Book) format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
  color: #4360DF;
}

h1 {
  font-size: 1.4rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  margin: 1.25rem 0 1rem 0;
}

/* components */

.header {
  align-items: center;
  color: black;
  display: flex;
  font-weight: 600;
  padding: 1rem;
}

.footer {
  display: flex;
  padding: 1rem;
}

a.privacy-policy {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}

.logo img {
  max-width: 100px;
}

.try-it-now {
  align-items: center;
  background: #4360DF;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1rem;
}

.try-it-now a {
  color: white;
  text-decoration: none;
}

.try-it-now a:hover {
  opacity: 0.9;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2.25rem;
  text-align: center;
}

.content img {
  border-radius: 50%;
  height: 125px;
  width: 125px;
}

.content .button {
  background-color: rgba(67, 96, 223, 0.1);
  border-radius: 100px;
  color: #4360df;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.content .button:hover {
  opacity: 0.9;
}
